### Importing Libraries

In [ ]:
import numpy as np
import os
import math
import lxml.html as lh
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import requests

#import sys
#!{sys.executable} -m pip install BeautifulSoup

### Web Scraping

In [145]:
URL = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page = requests.get(URL)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [146]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [147]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d: %s'%(i,name))
    col.append((name,[]))

1: Postal code

2: Borough

3: Neighborhood

In [148]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content()
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [149]:
[len(C) for (title,C) in col]

[181, 181, 181]

In [150]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df.head()

  Postal code\n           Borough\n                Neighborhood\n
0         M1A\n      Not assigned\n                            \n
1         M2A\n      Not assigned\n                            \n
2         M3A\n        North York\n                   Parkwoods\n
3         M4A\n        North York\n            Victoria Village\n
4         M5A\n  Downtown Toronto\n  Regent Park / Harbourfront\n

In [151]:
df = df.replace(r'\n','', regex=True)
df.head()

  Postal code\n         Borough\n              Neighborhood\n
0           M1A      Not assigned
1           M2A      Not assigned
2           M3A        North York                   Parkwoods
3           M4A        North York            Victoria Village
4           M5A  Downtown Toronto  Regent Park / Harbourfront

### Removing Not Assigned Boroughs

In [154]:
df = df.rename(columns = {'Postal code\n': 'PostalCode', 'Borough\n':'Borough', 'Neighborhood\n':'Neighborhood'})
df1= df[df['Borough'] != 'Not assigned']
df1.head()

  PostalCode           Borough                                  Neighborhood
2        M3A        North York                                     Parkwoods
3        M4A        North York                              Victoria Village
4        M5A  Downtown Toronto                    Regent Park / Harbourfront
5        M6A        North York             Lawrence Manor / Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

### Combining neighborhoods using a comma

In [156]:
df1 = df1.replace(r'/',',', regex=True)
df1.head()

  PostalCode           Borough                                  Neighborhood
2        M3A        North York                                     Parkwoods
3        M4A        North York                              Victoria Village
4        M5A  Downtown Toronto                    Regent Park , Harbourfront
5        M6A        North York             Lawrence Manor , Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

### Making the Neighborhood same as the Borugh for Not Assigned Neighborhood

In [172]:
for i in range(0,df1.shape[0]):
    if df1['Neighborhood'].iloc[i] == '':
        if df1['Borough'].iloc[i] != 'Not Assigned':
            df1['Neighborhood'].iloc[i] = df1['Borough'].iloc[i]

In [173]:
df1.head()

  PostalCode           Borough                                  Neighborhood
2        M3A        North York                                     Parkwoods
3        M4A        North York                              Victoria Village
4        M5A  Downtown Toronto                    Regent Park , Harbourfront
5        M6A        North York             Lawrence Manor , Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

### Printing the Shape of the DataFrame

In [174]:
df1.shape

(104, 3)